header.header {
  padding-top: 2rem;

  > div {
    max-width: 920px;
    margin: 0 auto;
    
    padding: 2rem 1rem 12rem;
    
    display: flex;
    align-items: center;
    justify-content: center;

      h1 {
        font-family: 'Quicksand', sans-serif;
        font-size: 3rem;
        color: var(--text-title);
      }
  }
}