* {
  box-sizing: border-box;
}

.todo {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.35rem;
}

.task {
  display: flex;
  margin: 1rem auto;
  max-width: 300px;
  align-items: center;
  justify-content: space-between;
}

.task_text {
  color: rgb(126, 126, 126);
  font-size: ;
}

.done .task_button--done{
  opacity: .7;
}

.done .task_text{
  text-decoration: line-through;
}

.delete {
  display: none;
}
